:root {
  --basic-font: system-ui;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

*::-webkit-scrollbar {
    display: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

/* CUSTOM CURSOR */
#cursor-container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 20;
    mix-blend-mode: difference;
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s ease-out, opacity 3s ease-out;
}

#custom-cursor {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: white;
    z-index: 20;
    transform: translate(-50%, -50%);
    transition: transform 0.20s ease-out, border-radius 0.4s ease-out, height 0.4s ease-out, width 0.4s ease-out, background-color 0.4s ease-out, opacity 1s ease-out;
    visibility: hidden;
    mix-blend-mode: difference;
}

#custom-cursor.hovering {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border: white 2px solid;
}

#custom-cursor.clicked {
    height: 8px;
    width: 8px;
}

#custom-cursor.hidden {
    border-radius: 100%;
    height: 2px;
    width: 2px;
    visibility: hidden;
    opacity: 0;
}

/* UNIVERSAL STUFF */
p,
h1 {
    font-family: var(--basic-font);
}

a {
    all: unset;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.itemLine {
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.4;
}

.marginItemLine {
    margin-top: 20px;
    margin-bottom: 20px;
}

.marginForLine {
    margin-top: 4px;
}

.padding {
    padding: 0 20px;
}

.subheadingsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 6dvh;
}

.link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.hoveringCont {
    background-color: rgb(187, 187, 187);
    mix-blend-mode: difference;
}

/* HEADER SECTION */
.headerWrapper h1 {
    font-size: 6dvw;
    font-weight: 500;
    line-height: 1;
    display: flex;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5dvh;
}

/* ITEMS SECTION */
.subHeading {
    font-size: 4.8dvw;
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 600;
}

/* ACCORDION SECTION */
.accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer; /* Add cursor pointer to indicate clickable */
    transition: all 0.4s ease; /* Add transition for smooth animation */
}

.openTag,
.closeTag {
    margin-top: 15px;
}

.closeTag {
    display: none;
}

.itemsWrapper {
    flex-direction: column;
    gap: 20px;
    font-size: 0.7dvw;
    margin-left: 10px;
    max-height: 0; /* Initially hide the content */
    overflow: hidden; /* Hide overflow content */
    transition: max-height 0.4s ease; /* Add transition for smooth animation */
}

.itemsWrapper.open {
    max-height: 3000px; /* Adjust to a suitable value */
}

.lastItemLine {
    height: 0;
}

.marginItemFirstLine {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* FOOTER SECTION */
.footerWrapper {
    position: fixed;
    width: 98.4dvw;
    bottom: 0px;
    background-color: white;
    z-index: 2;
    padding-bottom: 10px;
}

.contactDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactDetails,
.websiteWatermark {
    padding: 5px 0;
}

@media screen and (max-width: 699px) {
    .headerWrapper h1 {
        font-size: 3.3rem;
        display: block;
    }

    .subheadingsContainer {
        gap: 5px;
    }

    .openTag,
    .closeTag {
        margin: 0;
    }

    .hoveringCont {
        background-color: none;
    }

    .subHeading {
        font-size: 10dvw;
    }

    .marginForLine {
        margin: 0;
    }

    .itemsWrapper {
        font-size: 0.8rem;
        margin-left: 2px;
    }

    .footerWrapper {
        width: 90dvw
    }

    .marginItemLine {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .subheadingsContainer {
        margin-bottom: 100px;
    }

    .marginItemFirstLine {
        margin-bottom: 10px;
        margin-top: 5px;
    }
}